$subtitulo:(
    "grueso": bold,
    "tamaño": 20px,
    "pading":60px 0px 0px 20px,
);
$caja456:(
    "fondo":#f8f8f8,
    "ancho":22vw,
    "alto":230px,
    "index":10,
);
$parrafo:(
    "tamaño":16px,
    "alto":20px,
    "pading":5px 0px 0px 20px,
);