.footerimg{
    width: 25px;
    height: 25px;
    border: none black 1px;
    margin: 15px;
    border-radius: 100%;
    box-shadow: -5px 0px 3px 0px #03faee;
    -webkit-box-shadow: -5px 0px 3px 0px #03faee;
    -moz-box-shadow: -5px 0px 3px 0px #03faee;
    padding: 10px 10px;
}
