.viñete{
     box-shadow: -5px 0px 3px 0px #03faee;
    -webkit-box-shadow: -5px 0px 3px 0px #03faee;
    -moz-box-shadow: -5px 0px 3px 0px #03faee;
    border: solid black 1px;
    padding: 10px 10px;
    margin: 5px 0px 0px 20px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 720px;
    text-align: center;
}
